/*--------------------------------------------------- PRESET CSS -------------------------------------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body {
 background-image:url(images/topLine.png);
 background-position:left top;
 background-repeat:repeat-x;
 background-color:#ffffff;
 background-attachment:scroll;
 background-size:auto;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
}
h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#333432;
}
h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#333432;
}
h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#333432;
}
h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#333432;
}
h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#333432;
}
h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#333432;
}
a {
color:#79b400;
text-decoration:none;
}
a:hover {
text-decoration:none;
color:#79b400;
}
h1, h2, h3, h4, h5, h6 {
    padding-bottom: 6px;
    border-bottom: 1px solid #1A1A1A;
}
a img {
    border: 0 solid;
}
:focus {
    outline: none;
}
p {
    line-height: 1.7;
}
ul, ol {
    margin: 0;
    padding: 0 0 0 20px;
    list-style-image: url(images/list-style-image.png);
}
li {
    margin: 0;
    padding: 0 0 15px;
}
ol {
    list-style-image: none;
    padding-left: 23px;
}
hr {
    border-top: 1px solid #ced0cc
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
/*--------------------------------------------------- COMMON USAGE CSS -------------------------------------------------------------------------------------------*/
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clearDiv {
    clear: both;
}
.page-width {
    width: 960px;
    margin: 0 auto;
}
/*--------------------------------------------------- TOP AREA CSS -----------------------------------------------------------------------------------------*/
.bannerImage img {
    display: block;
}
.themeBrandingArea {
    padding-top: 20px;
}
.themeBrandingContainer {
    display: table;
    border: 0 solid;
    width: 100%;
}
.tableRow {
    display: table-row;
}
.tableCell {
    display: table-cell
}
.themeLogoOuterContainer {
    width: 1%;
}
.themeLogoArea {
    padding-right: 20px;
}
.themeSitenameCaptionOuterContainer {
    vertical-align: middle;
    height: 100%
}
.themeSitenameCaptionInnerContainer {
    height: 100%;
    padding: 0
}
.themeSitenameCaptionContainer {
    vertical-align: middle;
    height: 100%;
}
.themeSitename {
    white-space: nowrap;
 font-size:36px;
 color:#303b30;
 font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    padding-bottom: 5px;
}
.themeCaption {
    white-space: nowrap;
 font-size:18px;
 color:#515749;
 font-family:Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
/*--------------------------------------------------- MENU AREA CSS ----------------------------------------------------------------------------------------*/
.menuContainer {
    height: 55px;
    border-bottom: 3px solid #333432;
}
.navCont {
    width: 79%;
    float: left;
}
#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#navigation li {
    display: block;
    float: left;
    cursor: pointer;
    padding: 0;
 background-color:transparent;
 background-image:none;
background-repeat:repeat-x;
background-position:left top;
}
#navigation li a {
    text-decoration: none;
 color:#000000;
    float: left;
    padding-right: 45px;
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 4.6;
}
#navigation li a span {
    float: left;
    background: url(images/menustyle.png) left no-repeat;
    padding: 0 0 0 15px;
}
#navigation li:hover a span, #navigation li.selected a span, #navigation li.active a span {
    float: left;
    background: url(images/menustyleHover.png) left no-repeat;
    padding: 0 0 0 15px;
}
#navigation li:hover, #navigation li.selected, #navigation li.active {
 color:#79b400;
    border-bottom: 3px solid #79b400;
 background-color:transparent;
 background-image:none;
background-repeat:repeat-x;
background-position:left top;
}
#navigation li:hover a, #navigation li.selected a, #navigation li.active a {
 color:#79b400;
}
#navigation li.navArrow a em, #navigation li:hover.navArrow a em, #navigation li.active.navArrow a em, #navigation li.selected.navArrow a em {
    background: url(images/navArrow.png) no-repeat scroll 0 0;
    display: block;
    height: 9px;
    width: 9px;
    margin: 25px 0 0 15px;
    float: left
}
#navigation li:hover.navArrow a em, #navigation li.active.navArrow a em, #navigation li.selected.navArrow a em {
    background: url(images/navArrow1.png) no-repeat scroll 0 0;
}
.submenu {
 background-color:#ffffff;
background-image:none;
background-position:top left;
background-repeat:repeat;
 border-width:1px;
border-style:solid;
border-color:#b5b5b5;
 border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
-o-border-radius:0px;
 font-family:Georgia, "Times New Roman", Times, serif;
    width: 200px;
    position: absolute;
    display: block;
    -webkit-transition: height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    -moz-transition: height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    -o-transition: height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    -ms-transition: height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    transition: height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}
.submenu ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 0;
}
.submenu li {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.submenu li a {
 color:#5c5c5c;
 font-size:12px;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 1.7;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
    padding: 7px 0;
}
.submenu li a:hover {
 color:#79b400;
background-color:#f1f1f1;
background-image:none;
background-position:top left;
background-repeat:repeat;
}
.submenu li a span {
    width: 175px;
    float: left;
    padding-left: 5px;
    word-wrap: break-word;
}
.submenu li a em {
    width: 10px;
    float: left;
    height: 10px;
}
.submenu li.navArrow a em, .submenu li:hover.navArrow a em {
    background: transparent url(images/navArrow2.png) no-repeat scroll center left;
    float: left;
    height: 11px;
    width: 10px;
    margin-left: 7px;
    margin-top: 6px;
}
.submenu li:hover.navArrow a em {
    background: transparent url(images/navArrow2.png) no-repeat scroll center left;
}
/*--------------------------------------------------- CONTENT AREA CSS -------------------------------------------------------------------------------------*/
.contentContainer {
 background-color:transparent;
 background-image:none;
 background-position:0 0;
 background-repeat:no-repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -webkit-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -moz-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -o-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 border-width: 0;
 border-style:none;
 border-color:transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
    padding: 30px 0;
    overflow: hidden;
    clear: both;
}
.contentArea {
    width: 70%;
}
.sidebarArea {
    width: 30%;
}
.breadcrumb {
    margin-bottom: 30px;
    background: #f1f1f1;
    padding: 8px;
}
.breadcrumb span {
    padding: 0 3px;
}
.breadcrumb p {
    word-wrap: break-word;
}
.contentAreaSpace {
    min-height: 400px;
    height: auto !important;
    height: 400px;
}
.sidebarAreaSpace {
    min-height: 300px;
    height: auto !important;
    height: 300px;
}
.sidebarAreaInner {
 background-color:#f9f9f9;
 background-image:none;
 background-position:0 0;
 background-repeat:no-repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 -webkit-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 -moz-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 -o-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 border-width:1px;
 border-style:solid;
 border-color:#d3d3d3;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
    margin-left: 30px;
    overflow: hidden;
    padding: 15px;
 font-family: Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5C5C5C;
}
.sidebarAreaInner h1 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:24px;
 color:#333432;
}
.sidebarAreaInner h2 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:22px;
 color:#333432;
}
.sidebarAreaInner h3 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:20px;
 color:#333432;
}
.sidebarAreaInner h4 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
 color:#333432;
}
.sidebarAreaInner h5 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:16px;
 color:#333432;
}
.sidebarAreaInner h6 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
 color:#333432;
}
.sidebarAreaInner a {
 text-decoration:none;
 color:#79B400;
}
.sidebarAreaInner a:hover {
 text-decoration:none;
 color:#79B400;
}
.sidebarAreaInner form li span input[type=text], .sidebarAreaInner form li span textarea, .sidebarAreaInner form li span select {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5C5C5C;
    width: 175px;
}
.sidebarAreaInner form li input[type=submit], .sidebarAreaInner form li input[type=reset] {
font-family:Arial, Helvetica, sans-serif
}
.sidebarAreaInner form li span select {
    width: 188px;
}
.sidebarAreaInner form ul li label, .sidebarAreaInner form ul li div {
    padding: 5px 0;
    float: none;
}
.sidebarAreaInner th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.sidebarAreaInner td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.sidebarAreaInner .zs-highlight-box {
 background-color: #f5f5f5;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -webkit-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -o-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 3px 3px 0 0px #f1f0f0, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 3px 3px 0 0px #f1f0f0, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 3px 3px 0 0px #f1f0f0, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 3px 3px 0 0px #f1f0f0, 0px 0px 0px 0 transparent inset;
 border-width: 1px;
 border-style:solid;
 border-color:#e2e2e2;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 4px;
    min-height: 200px;
font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
}
.sidebarAreaInner .zs-highlight-box h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#333432;
}
.sidebarAreaInner .zs-highlight-box h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#333432;
}
.sidebarAreaInner .zs-highlight-box h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#333432;
}
.sidebarAreaInner .zs-highlight-box h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#333432;
}
.sidebarAreaInner .zs-highlight-box h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#333432;
}
.sidebarAreaInner .zs-highlight-box h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#333432;
}
.sidebarAreaInner .zs-highlight-box a {
color:#79b400;
text-decoration:none;
}
.sidebarAreaInner .zs-highlight-box a:hover {
text-decoration:none;
color:#79b400;
}
.sidebarAreaInner .zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.sidebarAreaInner .zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.sidebarAreaInner .zs-highlight-box form li span input[type=text], .sidebarAreaInner .zs-highlight-box form li span textarea, .sidebarAreaInner .zs-highlight-box form li span select {
    width: 145px;
}
.sidebarAreaInner .zs-highlight-box form li span select {
    width: 158px;
}
/*----------------------------------- THEME SIDEBAR AREA HIGHLIGHT BOX NEWSLETTER CSS -----------------------------------------------*/

.sidebarAreaInner .zs-highlight-box .newsletter-input-field {
    width: 175px;
}
.sidebarAreaInner .zs-highlight-box .newsletter-layout-3 .newsletter-form {
    width: 175px;
}
.sidebarAreaInner .zs-tabs-accordion-content .newsletter-input-field {
    width: 175px;
}
.sidebarAreaInner .zs-tabs-accordion-content .newsletter-layout-3 .newsletter-form {
    width: 175px;
}
/*----------------------------------- TEXT HIGHLIGHT CSS  -----------------------------------------------*/
.sidebarAreaInner .zs-text-light-color {
color:#BBBBBB;
}
.sidebarAreaInner .zs-text-highlight-color {
color:#333432;
}
.sidebarAreaInner .zs-highlight-box .zs-text-light-color {
color:#BBBBBB;
}
.sidebarAreaInner .zs-highlight-box .zs-text-highlight-color {
color:#333432;
}
/*--------------------- THEME SIDEBAR TABS ACCORDION AREA CSS ---------------------*/
.sidebarAreaInner .zs-tabs ul, .sidebarAreaInner .zs-highlight-box .zs-tabs ul {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: none;
    border-bottom: 1px solid #e8e8e8;
}
.sidebarAreaInner .zs-tabs ul li, .sidebarAreaInner .zs-highlight-box .zs-tabs ul li {
    float: left;
    margin: 0px 2px 0px 0;
    padding: 0;
}
.sidebarAreaInner .zs-tabs ul li div, .sidebarAreaInner .zs-highlight-box .zs-tabs ul li div {
    cursor: pointer;
    position: relative;
    padding: 0 20px;
    color: #5c5c5c;
    margin: 0 0 -1px;
    line-height: 2.8;
    background: #eeeeee;
    border-top: 2px solid transparent;
    border-bottom: 1px solid #e8e8e8;
}
.sidebarAreaInner .zs-tabs ul li.selected div, .sidebarAreaInner .zs-highlight-box .zs-tabs ul li.selected div {
    background: #ffffff;
    border-top: 3px solid #79b400;
    padding-top: 0;
    color: #79b400;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 0;
}
.sidebarAreaInner .zs-tabs-accordion-content, .sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 15px;
    display: none;
    min-height: 70px;
    height: auto !important;
    height: 70px;
    clear: both;
    border-top: 0;
    margin-bottom: 5px;
    color: #5c5c5c;
}
.sidebarAreaInner .zs-accordion, .sidebarAreaInner .zs-highlight-box .zs-accordion {
    color: #595959;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    display: block;
    background: #eeeeee;
    border: 1px solid #E1E1E1;
}
.sidebarAreaInner .zs-accordion.selected, .sidebarAreaInner .zs-highlight-box .zs-accordion.selected {
    background: #79b400;
    color: #ffffff;
    margin-bottom: 0px;
    border-color: #79b400;
}
/*---------------------------------- THEME SIDEBAR AREA HIGHLIGHT BOX TABS ACCORDION AREA CSS START ------------------------------------*/
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content {
    padding: 10px;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h1, .sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h2, .sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h3, .sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h4, .sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h5, .sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #333432;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content a, .sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #79b400;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content hr {
    border-top: 1px solid #ced0cc;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content th {
    background: #f0f0f0;
    border-color: #dbdbdb;
    color: #5c5c5c;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content td {
    background: #f8f8f8;
    border-color: #dbdbdb;
    color: #5c5c5c;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content form li span input[type="text"], .sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content form li span textarea, .sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content form li span select {
    width: 115px;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content form li span select {
    width: 128px;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content form li input[type="submit"], .sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content form li input[type="reset"] {
    padding: 6px 15px;
}
/*--------------------------------------------------- FOOTER AREA CSS -------------------------------------------------------------------------------------*/
.footer {
 background-color:transparent;
 background-image:url(images/footerbg.png);
 background-position:left bottom;
 background-repeat:repeat-x;
 background-attachment:scroll;
 background-size:auto;
 -moz-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 border-width:3px 0 0;
 border-style:solid;
 border-color:#333432;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
    padding: 20px 0;
    overflow: hidden;
    min-height: 10px;
    height: auto !important;
    height: 10px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 color:#5c5c5c;
}
.footer h1 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:24px;
 color:#333432;
}
.footer h2 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:22px;
 color:#333432;
}
.footer h3 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:20px;
 color:#333432;
}
.footer h4 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
 color:#333432;
}
.footer h5 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:16px;
 color:#333432;
}
.footer h6 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
 color:#333432;
}
.footer a {
 text-decoration:none;
 color:#79B400;
}
.footer a:hover {
 text-decoration:none;
 color:#79B400;
}
.footer form li span input[type=text], .footer form li span textarea, .footer form li span select {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
}
.footer form li input[type=submit], .footer form li input[type=reset] {
font-family:Arial, Helvetica, sans-serif;
}
.footer th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.footer td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.footer .zs-highlight-box {
 background-color: #f5f5f5;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -webkit-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -o-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 border-width: 1px;
 border-style:solid;
 border-color:#e2e2e2;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 4px;
    min-height: 200px;
font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
}
.footer .zs-highlight-box h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#333432;
}
.footer .zs-highlight-box h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#333432;
}
.footer .zs-highlight-box h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#333432;
}
.footer .zs-highlight-box h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#333432;
}
.footer .zs-highlight-box h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#333432;
}
.footer .zs-highlight-box h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#333432;
}
.footer .zs-highlight-box a {
color:#79b400;
text-decoration:none;
}
.footer .zs-highlight-box a:hover {
text-decoration:none;
color:#79b400;
}
.footer .zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.footer .zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
/*----------------------------------- TEXT HIGHLIGHT CSS  -----------------------------------------------*/
.footer .zs-text-light-color {
color:#BBBBBB;
}
.footer .zs-text-highlight-color {
color:#333432;
}
.footer .zs-highlight-box .zs-text-light-color {
color:#BBBBBB;
}
.footer .zs-highlight-box .zs-text-highlight-color {
color:#333432;
}
/*------------------------ THEME TABS ACCORDION AREA CSS START ------------------------------*/
.footer .zs-tabs ul, .footer .zs-highlight-box .zs-tabs ul {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #e8e8e8;
}
.footer .zs-tabs ul li, .footer .zs-highlight-box .zs-tabs ul li {
    float: left;
    margin: 0px 2px 0px 0;
    padding: 0;
}
.footer .zs-tabs ul li div, .footer .zs-highlight-box .zs-tabs ul li div {
    cursor: pointer;
    position: relative;
    padding: 0 20px;
    color: #5c5c5c;
    margin: 0 0 -1px;
    line-height: 2.8;
    background: #eeeeee;
    border-top: 2px solid transparent;
    border-bottom: 1px solid #e8e8e8;
}
.footer .zs-tabs ul li.selected div, .footer .zs-highlight-box .zs-tabs ul li.selected div {
    background: #ffffff;
    border-top: 3px solid #79b400;
    padding-top: 0;
    color: #79b400;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 0;
}
.footer .zs-tabs-accordion-content, .footer .zs-highlight-box .zs-tabs-accordion-content {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 15px;
    display: none;
    min-height: 70px;
    height: auto !important;
    height: 70px;
    clear: both;
    border-top: 0;
    margin-bottom: 5px;
    color: #5c5c5c;
}
.footer .zs-accordion, .footer .zs-highlight-box .zs-accordion {
    color: #595959;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    display: none;
    background: #eeeeee;
    border: 1px solid #e8e8e8;
}
.footer .zs-accordion.selected, .footer .zs-highlight-box .zs-accordion.selected {
    background: #79b400;
    color: #ffffff;
    margin-bottom: 0px;
    border-color: #79b400;
}
/*------------------------ THEME FOOTER AREA HIGHLIGHT BOX TABS ACCORDION AREA CSS START ------------------------------*/
.footer .zs-highlight-box .zs-tabs-accordion-content h1, .footer .zs-highlight-box .zs-tabs-accordion-content h2, .footer .zs-highlight-box .zs-tabs-accordion-content h3, .footer .zs-highlight-box .zs-tabs-accordion-content h4, .footer .zs-highlight-box .zs-tabs-accordion-content h5, .footer .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #333432;
}
.footer .zs-highlight-box .zs-tabs-accordion-content a, .footer .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #79b400;
}
.footer .zs-highlight-box .zs-tabs-accordion-content hr {
    border-top: 1px solid #ced0cc;
}
.footer .zs-highlight-box .zs-tabs-accordion-content th {
    background: #f0f0f0;
    border-color: #dbdbdb;
    color: #5c5c5c;
}
.footer .zs-highlight-box .zs-tabs-accordion-content td {
    background: #f8f8f8;
    border-color: #dbdbdb;
    color: #5c5c5c;
}
/*--------------------------------------------------- FORM AREA CSS -------------------------------------------------------------------------------------*/
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}
form li {
    overflow: hidden;
    padding: 10px 0 0;
    margin: 0;
}
form ul li label, form ul li div {
    width: auto;
    padding: 5px 0 0;
    color: #393333;
    float: left;
}
form ul li label {
    width: 200px;
}
form li span input, form li span label {
    float: none;
    width: auto;
    margin: 4px;
    padding: 0;
}
form li div span {
    display: block;
}
form li span input[type=text], form li span textarea, form li span select {
    width: 250px;
    background: #fff;
    border: 1px solid #e0e0e0;
    float: left;
    padding: 5px;
    margin: 0px;
    resize: none;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
}
form li span select {
    width: 260px;
}
form li span textarea {
    height: 100px;
    overflow: auto;
}
form li span button {
    margin-left: 5px;
    fcursor: pointer;
}
form .dateinvoker {
    background: url(images/datePickerIcn.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    border: none;
    vertical-align: middle;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
    padding: 0px;
}
form li input[type=submit], form li input[type=reset], button {
    background: #79b400;
    padding: 6px 20px;
    margin-right: 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 0;
 font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}
form li input[type=reset] {
    background: #333432;
}
/*--------------------------------------------------- THEME SEARCH BOX AREA CSS -------------------------------------------------------------------------------------*/
.searchContainer {
    padding-top: 16px;
    float: right;
}
.searchbox {
    width: 195px;
    height: 25px;
    position: relative;
    background: #ffffff;
    border: 1px solid #e7e7e7;
}
.searchbox input[type=text] {
    background: transparent;
    height: 25px;
    border: 0;
    outline: none;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #5c5c5c;
    padding: 0 5px;
    width: 160px;
}
.searchbox input[type=submit] {
    background: url(images/searchicon.png) center center no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0 none;
    cursor: pointer;
}
/*-----------------------------------      THEME HIGHLIGHT BOX AREA CSS    -----------------------------------------------*/
.zs-highlight-box {
 background-color: #f5f5f5;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -webkit-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -o-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 border-width: 1px;
 border-style:solid;
 border-color:#e2e2e2;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 4px;
    min-height: 200px;
font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
}
.zs-highlight-box h1, .zs-highlight-box h2, .zs-highlight-box h3, .zs-highlight-box h4, .zs-highlight-box h5, .zs-highlight-box h6 {
    border-bottom: 0px;
    padding-bottom: 0px;
}
.zs-highlight-box h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#333432;
}
.zs-highlight-box h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#333432;
}
.zs-highlight-box h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#333432;
}
.zs-highlight-box h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#333432;
}
.zs-highlight-box h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#333432;
}
.zs-highlight-box h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#333432;
}
.zs-highlight-box a {
color:#79b400;
text-decoration:none;
}
.zs-highlight-box a:hover {
text-decoration:none;
color:#79b400;
}
.zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
/*----------------------------------- TEXT HIGHLIGHT CSS  -----------------------------------------------*/
.zs-text-light-color {
color:#BBBBBB;
}
.zs-text-highlight-color {
color:#333432;
}
.zs-highlight-box .zs-text-light-color {
color:#BBBBBB;
}
.zs-highlight-box .zs-text-highlight-color {
color:#333432;
}
/*---------------------------------- THEME TABS ACCORDION AREA CSS START ------------------------------------*/
.zs-tabs ul, .zs-highlight-box .zs-tabs ul {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #e8e8e8;
}
.zs-tabs ul li, .zs-highlight-box .zs-tabs ul li {
    float: left;
    margin: 0px 2px 0px 0;
    padding: 0;
}
.zs-tabs ul li div, .zs-highlight-box .zs-tabs ul li div {
    cursor: pointer;
    position: relative;
    padding: 0 20px;
    color: #5c5c5c;
    margin: 0 0 -1px;
    line-height: 2.8;
    background: #eeeeee;
    border-top: 2px solid transparent;
    border-bottom: 1px solid #e8e8e8;
}
.zs-tabs ul li.selected div, .zs-highlight-box .zs-tabs ul li.selected div {
    background: #ffffff;
    border-top: 3px solid #79b400;
    padding-top: 0;
    color: #79b400;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 0;
}
.zs-tabs-accordion-content, .zs-highlight-box .zs-tabs-accordion-content {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 15px;
    display: none;
    min-height: 70px;
    height: auto !important;
    height: 70px;
    clear: both;
    border-top: 0;
    margin-bottom: 5px;
    color: #5c5c5c;
}
.zs-accordion, .zs-highlight-box .zs-accordion {
    color: #595959;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    display: none;
    background: #eeeeee;
    border: 1px solid #e8e8e8;
}
.zs-accordion.selected, .zs-highlight-box .zs-accordion.selected {
    background: #79b400;
    color: #ffffff;
    margin-bottom: 0px;
    border-color: #79b400;
}
/*---------------------------------- THEME HIGHLIGHT BOX TABS ACCORDION AREA CSS START ------------------------------------*/
.zs-highlight-box .zs-tabs-accordion-content h1, .zs-highlight-box .zs-tabs-accordion-content h2, .zs-highlight-box .zs-tabs-accordion-content h3, .zs-highlight-box .zs-tabs-accordion-content h4, .zs-highlight-box .zs-tabs-accordion-content h5, .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #333432;
}
.zs-highlight-box .zs-tabs-accordion-content a, .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #79b400;
}
.zs-highlight-box .zs-tabs-accordion-content hr {
    border-top: 1px solid #ced0cc;
}
.zs-highlight-box .zs-tabs-accordion-content th {
    background: #f0f0f0;
    border-color: #dbdbdb;
    color: #5c5c5c;
}
.zs-highlight-box .zs-tabs-accordion-content td {
    background: #f8f8f8;
    border-color: #dbdbdb;
    color: #5c5c5c;
}
/***************************** START SOCIAL ICONS SPRITE *****************************/
.socialiconContainer {
    margin: 5px 0;
    text-align: right;
}
.zs-socialicon-email, .zs-socialicon-facebook, .zs-socialicon-flickr, .zs-socialicon-googleplus, .zs-socialicon-linkedin, .zs-socialicon-pinterest, .zs-socialicon-rss, .zs-socialicon-twitter, .zs-socialicon-youtube, .zs-socialicon-medium, .zs-socialicon-instagram {
    background: url('images/zs-socialicon-sprite.png') no-repeat top left;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 4px;
}
.zs-socialicon-email {
    background-position: 0 -0px;
}
.zs-socialicon-facebook {
    background-position: 0 -16px;
}
.zs-socialicon-flickr {
    background-position: 0 -32px;
}
.zs-socialicon-googleplus {
    background-position: 0 -48px;
}
.zs-socialicon-linkedin {
    background-position: 0 -64px;
}
.zs-socialicon-pinterest {
    background-position: 0 -80px;
}
.zs-socialicon-rss {
    background-position: 0 -96px;
}
.zs-socialicon-twitter {
    background-position: 0 -112px;
}
.zs-socialicon-youtube {
    background-position: 0 -128px;
}
.zs-socialicon-medium {
    background-position: 0 -144px;
}
.zs-socialicon-instagram {
    background-position: 0 -160px;
}
/*****************************   END: SOCIAL ICONS SPRITE *****************************/
/*----------------------------------- THEME NEWSLETTER CSS -----------------------------------------------*/
.newsletter-container {
background: transparent;
    padding: 10px
}
h3.newsletter-heading {
    margin-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #333432;
    border-bottom: 0px;
}
.newsletter-desc {
    margin-bottom: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #5C5C5C;
}
.newsletter-input-field {
background: #ffffff;
border-width: 1px;
border-color: #E0E0E0;
color:#5C5C5C;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align:top;
}
button.newsletter-button {
background: #79b400;
border-width: 0;
border-color: transparent;
color:#ffffff;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
    border-style: solid;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    cursor: pointer;
    padding: 10px;
    font-weight: 400;
    box-sizing: border-box;
    margin-right: 0;
}
.newsletter-layout-1 .newsletter-form, .newsletter-layout-2 .newsletter-form {
    margin: 0 auto;
    text-align: center;
}
.newsletter-layout-3 .newsletter-form {
    width: 200px;
    margin: 0 auto;
    text-align: right;
}
.newsletter-layout-3 button {
    text-align: right;
}
.newsletter-form input[type="text"]::-moz-placeholder {
    color:#747474;
  font-size:90%;
  line-height:normal;
}
.newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#747474;
  font-size:85%;
  line-height:normal;
}
.newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#747474;
  font-size:90%;
  line-height:normal;
}
/*----------------------------------- MEMBERSHIP PORTAL AREA CSS  -----------------------------------------------*/
.mp-container {
    height: 30px;
    float: right;
    position: relative;
    top: -2px;
    padding-left: 15px;
}
.member-signin {
    float: right;
}
.member-signin > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.member-signin li {
    display: inline-block;
    line-height: 30px;
    margin-left: 20px;
    padding: 0;
    position:relative;
}
.member-signin li a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#79b400;
    display:block;
}
.member-signin li a:hover {
    text-decoration:none;
    color:#79b400;
}
.member-signin li:first-child {
    margin-left: 0;
}
.member-signin li:last-child:before {
    color:#79b400;
    content: "|";
    position: absolute;
    top: 0;
    left:-10px;
} 