body, p, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
body {
 background-image:url(images/topLine.png);
 background-position:left top;
 background-repeat:repeat-x;
 background-color:#ffffff;
 background-attachment:scroll;
 background-size:auto;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
}
h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#333432;
}
h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#333432;
}
h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#333432;
}
h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#333432;
}
h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#333432;
}
h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#333432;
}
a {
color:#79b400;
text-decoration:none;
}
a:hover {
text-decoration:none;
color:#79b400;
}
h1, h2, h3, h4, h5, h6 {
    padding-bottom: 6px;
    border-bottom: 1px solid #1A1A1A;
}
p {
    line-height: 1.9;
}
ul, ol {
    padding: 0 0 0 20px;
    list-style: disc;
}
ol {
    list-style: decimal;
    padding: 0 0 0 23px;
}
li {
    padding: 0 0 10px;
}
hr {
    border-top: 1px solid #ced0cc
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
/*---------------------------------- HEADER AREA -----------------------------------------*/
.headerContainer {
    padding: 20px 0 25px;
    text-align: center;
}
.logoarea {
    padding-bottom: 15px;
}
.headerContainer h1 {
 font-size:36px;
 color:#303b30;
 font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    padding-bottom: 5px;
    background: none;
    border: 0;
}
.headerContainer h5 {
 font-size:18px;
 color:#515749;
 font-family:Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    background: none;
    border: 0;
}
/*---------------------------------- MENU AREA -----------------------------------------*/
.menuarea {
    width: 100%;
    margin: 0 auto;
    height: 55px;
    border-bottom: 3px solid #333432;
}
#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    height: 55px;
    width: 100%;
 background-color:transparent;
 background-image:none;
background-repeat:repeat-x;
background-position:left top;
}
#navigation li {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    height: 55px;
    cursor: pointer;
    width: 33%;
}
#navigation li a {
 color:#000000;
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    float: left;
    height: 55px;
    display: block;
    width: 100%;
    font-weight: 500;
}
#navigation li.selected {
    border-bottom: 3px solid #79b400;
 background-color:transparent;
 background-image:none;
background-repeat:repeat-x;
background-position:left top;
}
#navigation li.selected a span {
color:#79b400;
}
#navigation li a span {
    word-wrap: break-word;
    height: 55px;
    display: block;
    line-height: 55px;
    margin-right: 30px;
    overflow: hidden;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: url(images/menustyle.png) left no-repeat;
    padding: 0 0 0 15px;
}
#navigation li.selected a span {
    background: url(images/menustyleHover.png) left no-repeat;
}
#navigation li a em {
    display: block;
    float: right;
    height: 7px;
    width: 11px;
    margin: -30px 10px 0 10px;
}
#navigation li.navArrow a em {
    background: url(images/navArrow.png) no-repeat 0 0;
}
#navigation li.selected.navArrow a em {
    background: url(images/navArrow1.png) no-repeat 0 0;
}
/*---------------------------------- SUBMENU AREA -----------------------------------------*/
.submenu {
    min-height: 10px;
    height: auto !important;
    height: 10px;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
.submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
 background-color:#ffffff;
background-image:none;
background-position:top left;
background-repeat:repeat;
 border-width:1px;
border-style:solid;
border-color:#b5b5b5;
 border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
-o-border-radius:0px;
}
.submenu li {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.submenu li a {
 color:#5c5c5c;
 font-size:12px;
 font-family:Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 3;
 text-transform:uppercase  float: left;
    cursor: pointer;
}
.submenu li.selected {
background-color:#f1f1f1;
background-image:none;
background-position:top left;
background-repeat:repeat;
}
.submenu li.selected a span {
 color:#79b400;
}
.submenu li a span {
    float: left;
    padding-left: 15px;
    word-wrap: break-word;
    width: 85%
}
.submenu li a em {
    width: 5px;
    float: right;
    height: 9px;
}
.submenu li.navArrow a em {
    background: url(images/navArrow2.png) left top no-repeat;
    float: right;
    height: 12px;
    width: 10px;
    margin: 13px 5px 0 13px;
}
/*---------------------------------- CONTENT AREA -----------------------------------------*/
.container {
 background-color:#ffffff;
 background-image:none;
 background-position:0 0;
 background-repeat:no-repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -webkit-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -moz-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 -o-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
 border-width:0;
 border-style:none;
 border-color:transparent;
 border-radius:0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
    margin: 0 8px;
    padding: 10px;
}
/*---------------------------------- BANNER AREA CSS -----------------------------------------*/
.bannerImage {
    margin-bottom: 10px;
}
/*---------------------------------- BREADCRUMB AREA CSS -----------------------------------------*/
.breadcrumb {
    padding: 5px 0;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 15px;
}
.breadcrumb a {
    text-decoration: none;
}
.breadcrumb span {
    padding: 0 10px;
}
.breadcrumb p {
    word-wrap: break-word
}
/*---------------------------------- CONTENT AREA -----------------------------------------*/
.contentArea {
    min-height: 250px;
    height: auto !important;
    height: 250px;
}
/*---------------------------------- SIDEBAR AREA -----------------------------------------*/
.sidebararea {
 background-color:#f9f9f9;
 background-image:none;
 background-position:0 0;
 background-repeat:no-repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 -webkit-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 -moz-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 -o-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0 0 transparent inset;
 border-width: 1px;
 border-style:solid;
 border-color:#d3d3d3;
 border-radius: 5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 -o-border-radius:5px;
 font-family: Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5C5C5C;
    margin: 15px 17px;
    min-height: 100px;
    height: auto !important;
    height: 100px;
    padding: 10px;
}
.sidebararea h1 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:24px;
 color:#333432;
}
.sidebararea h2 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:22px;
 color:#333432;
}
.sidebararea h3 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:20px;
 color:#333432;
}
.sidebararea h4 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
 color:#333432;
}
.sidebararea h5 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:16px;
 color:#333432;
}
.sidebararea h6 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
 color:#333432;
}
.sidebararea a {
 text-decoration:none;
 color:#79B400;
}
.sidebararea a:hover {
 text-decoration:none;
 color:#79B400;
}
.sidebararea th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.sidebararea td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.sidebararea .zs-highlight-box {
 background-color: #f5f5f5;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -webkit-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -o-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 3px 3px 0 0px #f1f0f0, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 3px 3px 0 0px #f1f0f0, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 3px 3px 0 0px #f1f0f0, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 3px 3px 0 0px #f1f0f0, 0px 0px 0px 0 transparent inset;
 border-width: 1px;
 border-style:solid;
 border-color:#e2e2e2;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 4px;
    min-height: 200px;
font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
}
.sidebararea .zs-highlight-box h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#333432;
}
.sidebararea .zs-highlight-box h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#333432;
}
.sidebararea .zs-highlight-box h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#333432;
}
.sidebararea .zs-highlight-box h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#333432;
}
.sidebararea .zs-highlight-box h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#333432;
}
.sidebararea .zs-highlight-box h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#333432;
}
.sidebararea .zs-highlight-box a {
color:#79b400;
text-decoration:none;
}
.sidebararea .zs-highlight-box a:hover {
text-decoration:none;
color:#79b400;
}
.sidebararea .zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.sidebararea .zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
/*----------------------------------- TEXT HIGHLIGHT CSS  -----------------------------------------------*/
.sidebararea .zs-text-light-color {
color:#BBBBBB;
}
.sidebararea .zs-text-highlight-color {
color:#333432;
}
.sidebararea .zs-highlight-box .zs-text-light-color {
color:#BBBBBB;
}
.sidebararea .zs-highlight-box .zs-text-highlight-color {
color:#333432;
}
/*--------------------- THEME SIDEBAR TABS ACCORDION AREA CSS ---------------------*/
.sidebararea .zs-tabs ul {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display:none;
    border-bottom: 1px solid #e8e8e8;
}
.sidebararea .zs-tabs ul li {
    float: left;
    margin:0px 1px 0px;
    padding: 0;
}
.sidebararea .zs-tabs ul li div {
    cursor: pointer;
    position: relative;
    padding: 0 20px;
    
    color: #5c5c5c;
    margin: 0 0 -1px;
    line-height:2.8;
    background: #eeeeee;
    border-top:3px solid transparent;
}
.sidebararea .zs-tabs ul li:first-child {
    margin-left: 0px;
}
.sidebararea .zs-tabs ul li.selected div {
    background: #ffffff;
    border-top: 3px solid #79b400;
    padding-top:0;
    color:#79b400;
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
}
.sidebararea .zs-tabs-accordion-content, .sidebararea .zs-highlight-box .zs-tabs-accordion-content {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 15px;
    display: none;
    min-height:70px;
    height:auto !important;
    height:70px;
    clear:both;
    border-top: 0;
    margin-bottom:5px;
    color:#5c5c5c;
}
.sidebararea .zs-accordion, .sidebararea .zs-highlight-box .zs-accordion {
    color: #595959;
    padding:10px;
    cursor: pointer;
    margin-bottom: 5px;
    display:block;    
    background: #eeeeee;
    border: 1px solid #E1E1E1;
}
.sidebararea .zs-accordion.selected, .sidebararea .zs-highlight-box .zs-accordion.selected {
    background: #79b400;
    color: #ffffff;
    margin-bottom: 0px;
    border-color:#79b400;
}
/*---------------------------------- THEME SIDEBAR AREA HIGHLIGHT BOX TABS ACCORDION AREA CSS START ------------------------------------*/
.sidebararea .zs-highlight-box .zs-tabs-accordion-content h1, .sidebararea .zs-highlight-box .zs-tabs-accordion-content h2, .sidebararea .zs-highlight-box .zs-tabs-accordion-content h3, .sidebararea .zs-highlight-box .zs-tabs-accordion-content h4, .sidebararea .zs-highlight-box .zs-tabs-accordion-content h5, .sidebararea .zs-highlight-box .zs-tabs-accordion-content h6 {
    color:#333432;
}
.sidebararea .zs-highlight-box .zs-tabs-accordion-content a, .sidebararea .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color:#79b400;
}
.sidebararea .zs-highlight-box .zs-tabs-accordion-content hr {
    border-top:1px solid #ced0cc;
}
.sidebararea .zs-highlight-box .zs-tabs-accordion-content th {
    background: #f0f0f0;
    border-color: #dbdbdb;
    color:#5c5c5c;
}
.sidebararea .zs-highlight-box .zs-tabs-accordion-content td {
    background: #f8f8f8;
    border-color: #dbdbdb;
    color:#5c5c5c;
}
/*---------------------------------- FOOTER AREA -----------------------------------------*/
.footerArea {
 background-color:transparent;
 background-image:url(images/footerbg.png);
 background-position:left bottom;
 background-repeat:repeat-x;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 border-width:3px 0 0;
 border-style:solid;
 border-color:#333432;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
    padding: 30px 20px;
    min-height: 50px;
    height: auto !important;
    height: 50px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 color:#5c5c5c;
}
.footerArea h1 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:24px;
 color:#333432;
}
.footerArea h2 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:22px;
 color:#333432;
}
.footerArea h3 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:20px;
 color:#333432;
}
.footerArea h4 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
 color:#333432;
}
.footerArea h5 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:16px;
 color:#333432;
}
.footerArea h6 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
 color:#333432;
}
.footerArea a {
 text-decoration:none;
 color:#79B400;
}
.footerArea a:hover {
 text-decoration:none;
 color:#79B400;
}
.footerArea th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.footerArea td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.footerArea .zs-highlight-box {
 background-color: #f5f5f5;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -webkit-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -o-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 border-width: 1px;
 border-style:solid;
 border-color:#e2e2e2;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 4px;
    min-height: 200px;
font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
}
.footerArea .zs-highlight-box h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#333432;
}
.footerArea .zs-highlight-box h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#333432;
}
.footerArea .zs-highlight-box h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#333432;
}
.footerArea .zs-highlight-box h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#333432;
}
.footerArea .zs-highlight-box h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#333432;
}
.footerArea .zs-highlight-box h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#333432;
}
.footerArea .zs-highlight-box a {
color:#79b400;
text-decoration:none;
}
.footerArea .zs-highlight-box a:hover {
text-decoration:none;
color:#79b400;
}
.footerArea .zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.footerArea .zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
/*----------------------------------- TEXT HIGHLIGHT CSS  -----------------------------------------------*/
.footerArea .zs-text-light-color {
color:#BBBBBB;
}
.footerArea .zs-text-highlight-color {
color:#333432;
}
.footerArea .zs-highlight-box .zs-text-light-color {
color:#BBBBBB;
}
.footerArea .zs-highlight-box .zs-text-highlight-color {
color:#333432;
}
/*------------------------ THEME TABS ACCORDION AREA CSS START ------------------------------*/
.footerArea .zs-tabs ul {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display:none;
    border-bottom: 1px solid #e8e8e8;
}
.footerArea .zs-tabs ul li {
    float: left;
    margin:0px 1px 0px;
    padding: 0;
}
.footerArea .zs-tabs ul li div {
    cursor: pointer;
    position: relative;
    padding: 0 20px;
    
    color: #5c5c5c;
    margin: 0 0 -1px;
    line-height:2.8;
    background: #eeeeee;
    border-top:3px solid transparent;
}
.footerArea .zs-tabs ul li:first-child {
    margin-left: 0px;
}
.footerArea .zs-tabs ul li.selected div {
    background: #ffffff;
    border-top: 3px solid #79b400;
    padding-top:0;
    color:#79b400;
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
}
.footerArea .zs-tabs-accordion-content, .footerArea .zs-highlight-box .zs-tabs-accordion-content {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 15px;
    display: none;
    min-height:70px;
    height:auto !important;
    height:70px;
    clear:both;
    border-top: 0;
    margin-bottom:5px;
    color:#5c5c5c;
}
.footerArea .zs-accordion, .footerArea .zs-highlight-box .zs-accordion {
    color: #595959;
    padding:10px;
    cursor: pointer;
    margin-bottom: 5px;
    display:block;    
    background: #eeeeee;
    border: 1px solid #e8e8e8;
}
.footerArea .zs-accordion.selected, .footerArea .zs-highlight-box .zs-accordion.selected {
    background: #79b400;
    color: #ffffff;
    margin-bottom: 0px;
    border-color:#79b400;
}
/*------------------------ THEME FOOTER AREA HIGHLIGHT BOX TABS ACCORDION AREA CSS START ------------------------------*/
.footerArea .zs-highlight-box .zs-tabs-accordion-content h1, .footerArea .zs-highlight-box .zs-tabs-accordion-content h2, .footerArea .zs-highlight-box .zs-tabs-accordion-content h3, .footerArea .zs-highlight-box .zs-tabs-accordion-content h4, .footerArea .zs-highlight-box .zs-tabs-accordion-content h5, .footerArea .zs-highlight-box .zs-tabs-accordion-content h6 {
    color:#333432;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content a, .footerArea .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color:#79b400;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content hr {
    border-top:1px solid #ced0cc;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content th {
    background: #f0f0f0;
    border-color: #dbdbdb;
    color:#5c5c5c;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content td {
    background: #f8f8f8;
    border-color: #dbdbdb;
    color:#5c5c5c;
}/*---------------------------------- FORM AREA CSS -----------------------------------------*/
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}
form li {
    overflow: hidden;
    padding: 5px 0;
    margin: 0;
}
form ul li label, form ul li div {
    width: auto;
    float: none;
    padding: 5px 0;
}
form ul li label {
    width: 200px;
    text-align: left;
}
form li div span {
    clear: both;
    display: block;
}
form li span input, form li span label {
    float: none;
    width: auto;
    padding:0;
    margin:4px;
}
form li span input[type=text], form li span textarea, form li span select {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
    width: 200px;
    background: #fff;
    border: 1px solid #e0e0e0;
    float: left;
    padding: 5px;
    resize: none;
    outline: none;
    margin: 0px;
}
form li span select {
    width: 207px;
}
form li span textarea {
    height: 80px;
    overflow: auto;
}
form .dateinvoker {
    background: url(images/datePickerIcn.png) 0 0 no-repeat;
    width:16px;
    height:16px;
    border: none;
    vertical-align: middle;
    margin-top: 5px;
    outline: none;
    padding:0px;
}
form li input[type=submit], form li input[type=reset], button {
    background: #79b400;
    padding: 6px 20px;
    margin-right: 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 0;
 font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}
form li input[type=reset] {
    background: #333432;
}
/*-----------------------------------      THEME HIGHLIGHT BOX AREA CSS    -----------------------------------------------*/
.zs-highlight-box {
 background-color: #f5f5f5;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -webkit-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-image: none, -o-linear-gradient(top, #ffffff 84%, #f5f5f5 100%);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 3px 3px 0 0px #f9f9f9, 0px 0px 0px 0 transparent inset;
 border-width: 1px;
 border-style:solid;
 border-color:#e2e2e2;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 4px;
    min-height: 200px;
font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
}
.zs-highlight-box h1, .zs-highlight-box h2, .zs-highlight-box h3, .zs-highlight-box h4, .zs-highlight-box h5, .zs-highlight-box h6 {
    border-bottom:0px;
    padding-bottom:0px;
}
.zs-highlight-box h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#333432;
}
.zs-highlight-box h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#333432;
}
.zs-highlight-box h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#333432;
}
.zs-highlight-box h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#333432;
}
.zs-highlight-box h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#333432;
}
.zs-highlight-box h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#333432;
}
.zs-highlight-box a {
color:#79b400;
text-decoration:none;
}
.zs-highlight-box a:hover {
text-decoration:none;
color:#79b400;
}
.zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f0f0f0;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
.zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#f8f8f8;
 border-width:1px;
 border-style:solid;
 border-color:#dbdbdb;
 color:#5c5c5c;
 padding:6px;
}
/*----------------------------------- TEXT HIGHLIGHT CSS  -----------------------------------------------*/
.zs-text-light-color {
color:#BBBBBB;
}
.zs-text-highlight-color {
color:#333432;
}
.zs-highlight-box .zs-text-light-color {
color:#BBBBBB;
}
.zs-highlight-box .zs-text-highlight-color {
color:#333432;
}
/*----------------------------------------------------- THEME TABS ACCORDION AREA CSS START -----------------------------------------------------*/
.zs-tabs ul {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display:none;
    border-bottom: 1px solid #e8e8e8;
}
.zs-tabs ul li {
    float: left;
    margin:0px 1px 0px;
    padding: 0;
}
.zs-tabs ul li div {
    cursor: pointer;
    position: relative;
    padding: 0 20px;
    
    color: #5c5c5c;
    margin: 0 0 -1px;
    line-height: 2.8;
    background: #eeeeee;
    border-top:3px solid transparent;
}
.zs-tabs ul li.selected div {
    background: #ffffff;
    border-top: 3px solid #79b400;
    padding-top:0;
    color:#79b400;
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
}
.zs-tabs-accordion-content, .zs-highlight-box .zs-tabs-accordion-content {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 15px;
    display: none;
    min-height:70px;
    height:auto !important;
    height:70px;
    clear:both;
    border-top: 0;
    margin-bottom:5px;
    color:#5c5c5c;
}
.zs-accordion, .zs-highlight-box .zs-accordion {
    color: #595959;
    padding:10px;
    cursor: pointer;
    margin-bottom: 5px;
    display:block;    
    background: #eeeeee;
    border: 1px solid #e8e8e8;
}
.zs-accordion.selected, .zs-highlight-box .zs-accordion.selected {
    background: #79b400;
    color: #ffffff;
    margin-bottom: 0px;
    border-color:#79b400;
}
/*---------------------------------- THEME HIGHLIGHT BOX TABS ACCORDION AREA CSS START ------------------------------------*/
.zs-highlight-box .zs-tabs-accordion-content h1, .zs-highlight-box .zs-tabs-accordion-content h2, .zs-highlight-box .zs-tabs-accordion-content h3, .zs-highlight-box .zs-tabs-accordion-content h4, .zs-highlight-box .zs-tabs-accordion-content h5, .zs-highlight-box .zs-tabs-accordion-content h6 {
    color:#333432;
}
.zs-highlight-box .zs-tabs-accordion-content a, .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color:#79b400;
}
.zs-highlight-box .zs-tabs-accordion-content hr {
    border-top:1px solid #ced0cc;
}
.zs-highlight-box .zs-tabs-accordion-content th {
    background: #f0f0f0;
    border-color: #dbdbdb;
    color:#5c5c5c;
}
.zs-highlight-box .zs-tabs-accordion-content td {
    background: #f8f8f8;
    border-color: #dbdbdb;
    color:#5c5c5c;
}
/***************************** START SOCIAL ICONS SPRITE *****************************/
.themeSocialIconContainer {
margin: 10px 0;
text-align: center;
}
.zs-socialicon-email,.zs-socialicon-facebook,.zs-socialicon-flickr,.zs-socialicon-googleplus,.zs-socialicon-linkedin,.zs-socialicon-pinterest,.zs-socialicon-rss,.zs-socialicon-twitter,.zs-socialicon-youtube,.zs-socialicon-medium,.zs-socialicon-instagram {
    background:url('images/zs-socialicon-sprite.png') no-repeat top left; width:16px; height:16px; display: inline-block;
margin:3px 3px 0;
}
.zs-socialicon-email {
    background-position:0 -0px;
}
.zs-socialicon-facebook {
    background-position:0 -16px;
}
.zs-socialicon-flickr {
    background-position:0 -32px;
}
.zs-socialicon-googleplus {
    background-position:0 -48px;
}
.zs-socialicon-linkedin {
    background-position:0 -64px;
}
.zs-socialicon-pinterest {
    background-position:0 -80px;
}
.zs-socialicon-rss {
    background-position:0 -96px;
}
.zs-socialicon-twitter {
    background-position:0 -112px;
}
.zs-socialicon-youtube {
    background-position:0 -128px;
}
.zs-socialicon-medium {
    background-position:0 -144px;
}
.zs-socialicon-instagram {
    background-position:0 -160px;
}
/*****************************   END: SOCIAL ICONS SPRITE *****************************/

.newsletter-container {
background: transparent;
    padding: 10px
}
h3.newsletter-heading {
    margin-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #333432;
border-bottom:0px;
}
.newsletter-desc {
    margin-bottom: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #5C5C5C;
}
.newsletter-input-field {
background: #ffffff;
border-width: 1px;
border-color: #E0E0E0;
color:#5C5C5C;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align:top;
}
button.newsletter-button {
background: #79b400;
border-width: 0;
border-color: transparent;
color:#ffffff;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
    border-style: solid;
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    cursor: pointer;
    padding: 10px;
    font-weight: 400;
    box-sizing: border-box;
    margin-right: 0;
}
.newsletter-layout-1 .newsletter-form, .newsletter-layout-2 .newsletter-form {
    margin: 0 auto;
    text-align: center;
}
.newsletter-layout-3 .newsletter-form {
    width: 200px;
    margin: 0 auto;
    text-align: right;
}
.newsletter-layout-3 button {
    text-align: right;
}
.newsletter-layout-2 button.newsletter-button {
    display:block;
    margin:0 auto;
}
.newsletter-form input[type="text"]::-moz-placeholder {
    color:#747474;
  font-size:90%;
  line-height:normal;
}
.newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#747474;
  font-size:85%;
  line-height:normal;
}
.newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#747474;
  font-size:90%;
  line-height:normal;
}
/*----------------------------------- MEMBERSHIP PORTAL AREA CSS  -----------------------------------------------*/
.mp-container {
  height: 45px;
}
.member-signin {
  padding: 0 20px;
}
.member-signin > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align:right;
}
.member-signin li {
  display: inline-block;
  line-height: 55px;
  margin-left: 20px;
  padding: 0;
  position:relative;
}
.member-signin li a {
  color: #343434;
  text-decoration: none;
  display:block;
}
.member-signin li:first-child {
  width:75%;
}
.member-signin li a {
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  text-decoration:none;
  color:#79b400;
  display:block;
  text-align:right;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.member-signin li a:hover {
  text-decoration:none;
  color:#79b400;
}
.member-signin li:first-child {
  margin-left: 0;
}
.member-signin li:last-child:before {
  color:#79b400;
  content: "|";
  position: absolute;
  top: 0;
  left:-10px;
} 